<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dangercloz.pocketswatch" >

    <uses-permission android:name="android.permission.NFC"/>
    <uses-feature android:name="android.hardware.nfc" android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".CO_AC_Login"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dangercloz.BO.BO_AC_Main"
            android:label="@string/title_activity_bo__ac__main"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.dangercloz.CO.CO_AC_CreateDB"
            android:label="@string/title_activity_co__ac__create_db"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:theme="@android:style/Theme.NoTitleBar"
            android:name="com.dangercloz.SE.SE_AC_Main"
            android:label="@string/title_activity_se__ac__main" >
        </activity>
        <activity
            android:theme="@android:style/Theme.NoTitleBar"
            android:name="com.dangercloz.DC.DC_AC_Main"
            android:label="@string/title_activity_dc__ac__main" >
        </activity>
        <activity
            android:theme="@android:style/Theme.NoTitleBar"
            android:name="com.dangercloz.MI.MI_AC_Main"
            android:label="@string/title_activity_mi__ac__main" >
        </activity>
    </application>

</manifest>
